# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *
from yoctoabb import builders, config, schedulers, workers, services, www

import imp


# supports re-loading configuration with buildbot sighup, meaning we can change
# configuration without having to restart buildbot.
# Note: code modules (in lib/, steps/ and reporters/) are not reloaded with a
# buildbot sighup
imp.reload(config)
imp.reload(builders)
imp.reload(schedulers)
imp.reload(workers)
imp.reload(services)
imp.reload(www)

c = BuildmasterConfig = {}

# Disable usage reporting
c['buildbotNetUsageData'] = None
c['protocols'] = {'pb': {'port': 9989}}
c['db'] = {'db_url' : "sqlite:///state.sqlite",}

# Allows UI to resolve poky git hashes
c['change_source'] = changes.GitPoller(repourl='git@git.yoctoproject.org:poky',
                                       branches=True)

# Items which are common to Yocto Project autobuilder deployments using the
# yocto-autobuilder-helper scripts
c['schedulers'] = schedulers.schedulers
c['builders'] = builders.builders
c['services'] = services.services
c['www'] = www.www

# These items are specific to an individual AB deployment
c['workers'] = workers.workers

c['title'] = "Yocto Autobuilder"
c['titleURL'] = "https://autobuilder.yoctoproject.org/main/"
# visible location for internal web server
c['buildbotURL'] = "https://autobuilder.yoctoproject.org/main/"
